<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/blog.css">

    <!-- fontawesome cdn link to put icon's in our site  -->
    <script src="https://kit.fontawesome.com/3011e2cf31.js" crossorigin="anonymous"></script>
    <!-- fontawesome cdn link to put icon's in our site closed -->

    <!-- google fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;900&family=Ubuntu:wght@300;400;700&display=swap"
        rel="stylesheet" />

    <!-- google fonts closed-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
  <!-- favicon -->
  <link rel="icon" href="/images/home/HerbEsentiaFavicon.svg" alt="favicon" title="favicon" />
    <!-- Optional JavaScript closed -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS closed -->
    <title>Blog</title>
</head>

<body class="gradient-background">
    <h2>Blog Posts By HerbEsentia</h2>
    <div class="container">
        <div class="box-column">
            <div class="box-header">
                <h5> Ayurveda <i class="fa-solid fa-leaf"></i> </h5>
            </div>
            <div class="box">
                <span class="tag" id="green">Brahmi</span>
                <p>Brahmi, an Ayurvedic herb, is prized for promoting cognitive function and reducing anxiety</p>
                <div class="box-footer">
                    <div class="date">
                        <li><i class="fa-solid fa-calendar-days"></i></li>
                        <span>8 May</span>
                    </div>

                    <li class="comment"><i class="fa-solid fa-message"></i></li>
                </div>
            </div>

            <div class="box">
                <span class="tag" id="green">Triphala</span>
                <p>Triphala, a blend of three fruits from India, supports digestive health and detoxification in
                    Ayurvedic practices</p>
                <div class="box-footer">
                    <div class="date">
                        <li><i class="fa-solid fa-calendar-days"></i></li>
                        <span>8 May</span>
                    </div>

                    <li class="comment"><i class="fa-solid fa-message"></i></li>
                </div>
            </div>

            <div class="box">
                <span class="tag" id="green">Tulsi</span>
                <p>Tulsi from India, including Kashmir is revered for its antioxidant-rich leaves,
                    promoting respiratory health.</p>
                <div class="box-footer">
                    <div class="date">
                        <li><i class="fa-solid fa-calendar-days"></i></li>
                        <span>8 May</span>
                    </div>

                    <li class="comment"><i class="fa-solid fa-message"></i></li>
                </div>
            </div>

        </div>
        <div class="box-column">
            <div class="box-header">
                <h5>Medicinal Plants <i class="fa-solid fa-plus"></i></h5>

            </div>

            <div class="box">
                <span class="tag" id="green">Aloe Vera</span>
                <p>Aloe Vera, renowned for its healing gel, is a medicinal plant with anti-inflammatory properties,
                    promoting skin recovery.</p>
                <div class="box-footer">
                    <div class="date">
                        <li><i class="fa-solid fa-calendar-days"></i></li>
                        <span>8 May</span>
                    </div>

                    <li class="comment"><i class="fa-solid fa-message"></i></li>
                </div>
            </div>

            <div class="box">
                <span class="tag" id="green">Turmeric</span>
                <p>Turmeric, rich in curcumin, is a potent anti-inflammatory and antioxidant spice with diverse health
                    benefits.</p>
                <div class="box-footer">
                    <div class="date">
                        <li><i class="fa-solid fa-calendar-days"></i></li>
                        <span>8 May</span>
                    </div>

                    <li class="comment"><i class="fa-solid fa-message"></i></li>
                </div>
            </div>

            <div class="box">
                <span class="tag" id="green">Echinacea</span>
                <p>
                    Echinacea a powerful immune-booster, helps reduce the severity and duration of common cold
                    symptoms.</p>
                <div class="box-footer">
                    <div class="date">
                        <li><i class="fa-solid fa-calendar-days"></i></li>
                        <span>8 May</span>
                    </div>

                    <li class="comment"><i class="fa-solid fa-message"></i></li>
                </div>
            </div>

        </div>
        <div class="box-column">
            <div class="box-header">
                <h5>Health <i class="fa-solid fa-user-doctor"></i></h5>
            </div>

            <div class="box">
                <span class="tag" id="green">Lavender</span>
                <p>Stress Relief: Lavender has calming effects, reducing stress and anxiety, and promoting relaxation.
                </p>
                <div class="box-footer">
                    <div class="date">
                        <li><i class="fa-solid fa-calendar-days"></i></li>
                        <span>8 May</span>
                    </div>

                    <li class="comment"><i class="fa-solid fa-message"></i></li>
                </div>
            </div>

            <div class="box">
                <span class="tag" id="green">Chia Seeds </span>
                <p>Chia seeds are a rich source of omega-3 fatty acids, fiber, and antioxidants,
                    promoting overall health.</p>
                <div class="box-footer">
                    <div class="date">
                        <li><i class="fa-solid fa-calendar-days"></i></li>
                        <span>8 May</span>
                    </div>

                    <li class="comment"><i class="fa-solid fa-message"></i></li>
                </div>
            </div>

            <div class="box">
                <span class="tag" id="green">Cinnamon</span>
                <p>Cinnamon has anti-inflammatory properties, aiding in the management of
                    inflammatory conditions</p>
                <div class="box-footer">
                    <div class="date">
                        <li><i class="fa-solid fa-calendar-days"></i></li>
                        <span>8 May</span>
                    </div>
                    <li class="comment"><i class="fa-solid fa-message"></i></li>
                </div>
            </div>
        </div>
    </div>
    </div>

</body>

</html>